[alias]
  editconf = !vim ~/.gitconfig
  graph = log --all --decorate --oneline --graph
  ; st = status --untracked-files=all
  st = ! echo '💩 Use "^ + e" instead 💩' && sleep 2 && git status --untracked-files=all
  co = checkout
  cb = checkout -b
  cm = commit -m
  cma = commit -m "a"
  ca = commit --amend
  can = commit --amend --no-edit
  br = branch
  brr = ! watch -t -n 0.2 --color "git branch --color"
  b = "!git for-each-ref --sort='-authordate' --format='%(authordate)%09%(objectname:short)%09%(refname)' refs/heads | sed -e 's-refs/heads/--'"
  logo = log --oneline
  logor = ! watch -t -n 0.2 --color "git --no-pager log --oneline --color -20 --decorate"
  lm = ! git logo -n $(git rev-list origin/master..HEAD --count)
  pa = pull --all
  df = diff
  dc = diff --cached
  rpo = remote prune origin
  po = "!git push --set-upstream origin \"$(git rev-parse --abbrev-ref HEAD)\""
  pof = po -f
  r = rebase
  ro = rebase --onto
  ri = rebase -i
  rc = rebase --continue
  ra = rebase --abort
  rs = rebase --skip
  re = restore
  res = restore --staged
  ap = add * -p
  sta = stash
  stl = stash list
  stp = stash pop
  stc = stash clear
  sc = show --color --pretty=format:%b
  fa = fetch --all
  rb = for-each-ref --sort=committerdate refs/heads/ refs/remotes/ --format='%(refname:short)'
  cof = "!git rb | fzf-tmux -p90%,80% --layout=reverse --no-info --print0 --preview 'git log --oneline --color=always --decorate {1}' | xargs -0 -t git checkout"
  pc = "!git logo --decorate --color=always | fzf-tmux --ansi -p90%,80% --layout=reverse --no-info  --preview 'git show --color=always {1}' --bind=ctrl-u:preview-page-up,ctrl-d:preview-page-down | awk '{ print $1 }' | xsel --input --clipboard"
[help]
  autocorrect = 40
[user]
  name = Florian Merle
  email = florian.david.merle@gmail.com
[core]
  editor = vim
  excludesfile = ~/.gitignore
  pager = delta --paging=always
[interactive]
  diffFilter = delta --color-only
[merge]
  conflictstyle = diff3
[diff]
  colorMoved = default
[delta]
  navigate = true
  features = unobtrusive-line-numbers
  hunk-header-style = omit
[delta "unobtrusive-line-numbers"]
  line-numbers = true
